{% extends 'base.html.twig' %}

{% block title %}Edit Task
{% endblock %}

{% block body %}
	<turbo-frame id="body">

		<h1>Edit Task</h1>

		<a href="{{ path('app_task_index') }}" data-turbo-frame="body">back to list</a>


	</turbo-frame>

{% endblock %}
